<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaohuaxiang.dao.BlogDao">

    <select id="getAllBlog" resultType="Blog">
        select id,title,createTime,content from blogs
    </select>

    <select id="getBlogById" resultType="Blog">
        select id,title,createTime,content from blogs where id = #{id}
    </select>
</mapper>