<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yaohuaxiang.dao.CommentDao">
    <resultMap id="comment" type="Comment">
        <id column="cid" property="id"></id>
        <result column="ct" property="content"></result>
        <association property="blog" javaType="Blog">
            <id column="bid" property="id"></id>
            <result column="title" property="title"></result>
            <result column="createTime" property="createTime"></result>
            <result column="bt" property="content"></result>
        </association>
    </resultMap>

    <select id="getAllComment" resultMap="comment">
        select
            c.id cid,
            c.content ct, b.id bid, b.title, b.createTime, b.content bt
        from comments c
        left join blogs b on c.blog=b.id
        <if test="blog !=null and blog.id != null and blog.id != ''">
            where b.id = #{blog.id}
        </if>;
    </select>

    <insert id="addComment">
        insert into comments(content,blog) values(#{comment.content},#{comment.blog.id});
    </insert>

    <delete id="deleteComment">
        delete from comments where id=#{id}
    </delete>
</mapper>